body {
  display: flex;
  flex-direction: column;      
  justify-content: center;    
  align-items: center;        
  height: 100vh;               
  font-family: sans-serif;
  text-align: center;          /* text inside elements is centered */
}

.container {
	font-size: 1.2em;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Center content horizontally */
	text-align: center;
	gap: 0px 20px;
	/* Spacing between elements */
}

.img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0px 20px;
}

.img {
	max-width: 20vw;
	height: auto;
	display: block;
	margin: 0 auto;

}

.side-img {
	max-width: 30vw;
	height: auto;
	max-width: 600px;
}

.description {
	font-size: 1em;
	width: 100%;
	max-width: 1600px;
	text-align: center;
	/* Centers text */
	margin: 0 auto;
}

.instructions {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.dark-mode {
	background-color: black;
	color: white;
	font-size: 1em;
	width: 80%;
	max-width: 100vw;
	text-align: center;
	/* Centers text */
	margin: 0 auto;
	padding: 1em;
}

.jspsych-content {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 1em;
	max-width: 100vw;
	margin: 0 auto;
}

.jspsych-btn {
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 1em;
	max-width: 100vw;
	margin: 0 auto;
	padding: 10px;
}


.jspsych-content-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.question-list {
    list-style-type: decimal;  
    padding-left: 40px;         
    text-align: left;
}

.question-list li {
    display: list-item;      
}

.question-content {
    display: flex;            
    align-items: center;
    gap: 8px;                   
    margin-bottom: 10px;      
}
